<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'festShare/css/styleChatpage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>

<body>

    <div class="chat-nav">
        <div class="logo">
           <a href="/Home"> <img src="../static/Festshare_dark.png" alt="festshare-logo"> </a>
        </div>
        <div class="pagenav">
            <ul class="pagenav-ul"> 
                <li><a class="n_button" href="/Home">Home</a></li>
                <li><a class="n_button" href="/Group">My Groups</a></li>
                <li><a class="post_event" href="/PostEvent">PostEvent</a></li>
                <li><a class="n_button" href="/Login">Login</a></li>
            </ul>
        </div>
    </div>

    <div class="chat-main">

        <div class="event-list">
            

        </div>

        <div class="chatting-section">

        </div>

    </div>
</body>

</html>