<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {%include 'navbar.html' %}
    Hi {{firstname}}
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name='addedMoney' placeholder="0.00" />$
        <p>You are {{total_moneySaved}}$ richer then before</p>
        <button type="submit">Add Money</button>
    </form>
</body>

</html>