<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Load the CSS file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'festShare/css/styleFeed.css' %}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;
        0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div id=navbar>
        {% include 'navbar.html' %}
    </div>


    <div class="main-container">
        <div class="menu">
            {% for event in events reversed %}
            <div class="event-card">


                <div id="img">
                    <img class="event-image" src="{{ event.image.url }}" alt="{{ event.title }}">
                </div>
                <div class="event-header">
                    <p class="event-title">{{ event.title }}</p>
                    <p class="participant-count">
                        <span class="labels">Participant</span>: <span class="labels-content">
                            {{ event.participants.count }}/{{ event.maxNumberOfPeople }}</span>
                    </p>
                </div>


                <div class="event-body">
                    <div class="event-info">
                        <div>
                            <div class="labels">Event on: <span class="labels-content">{{ event.date }}</span></div>

                        </div>
                        <div>
                            <div class="labels">Location: <span class="labels-content">{{event.location}}</span></div>

                        </div>
                        <div>
                            <div class="labels">Ticket Price: <span class="labels-content">{{event.ticketPrice}}</span>$
                            </div>

                        </div>

                    </div>

                </div>
                <div style="padding: 15px;">
                    <div class="event-footer">
                        {% if user in event.participants.all %}
                        <!-- If the user is already a participant, show the link to the chat room -->

                        <form action="/leaveEvent" method="POST" style="display: flex; flex-direction: column;">
                            <span>You are already in this event</span>
                            {% csrf_token %}
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            <button type="submit" style="background-color: red; border-color: red;">Leave event</button>
                        </form>
                        {% else %}
                        <form action="/joinEvent" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            <button type="submit">Join this event</button>
                        </form>
                        {% endif %}

                        {% if user in sponsers.all %}
                        <!-- If the user is already a participant, show the link to the chat room -->
                        <p>You are already sponsering </p>
                        {% else %}
                        <form action="/BeSponser" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            <button type="submit">Sponsor this event</button>
                        </form>
                        {% endif %}



                    </div>
                </div>

                <div class="event-uploader">
                    <span class="labels">Uploaded by </span>: <span class="labels-content">{{ event.organizer }}</span>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'GotoTopButton.html' %}

    <br><br><br><br><br><br><br>
</body>

</html>