<nav class="chat-nav">
    <div class="logo">
        <a href="/Home"> <img src="../static/Festshare_dark.png" alt="festshare-logo"> </a>
    </div>
    <ul class="pagenav-ul">
        <li><a href="/Home">Home</a></li>
        <li><a href="/Chat">Chat</a></li>
        {% if has_events %}
        <li><a href="/YourEvent">Your Events</a></li>
        {% else %}
        <li><a href="/AddEvent">Post Event</a></li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <a href="Logout">Log Out</a>
    {% else %}
    <a href="Login">Log in</a>
    {% endif %}
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}