<nav class="chat-nav">
    <div class="logo">
        <a href="/Home"> <img src="../static/Festshare_dark.png" alt="festshare-logo"> </a>
    </div>
    <div class="pagenav">
        <ul class="pagenav-ul">
            <li><a class="n_button" href="/Home">Home</a></li>
            <li><a class="n_button" href="/Chat">Chat</a></li>
            {% if has_events %}
            <li><a class="post_event" href="/YourEvent">Your Events</a></li>
            {% else %}
            <li><a class="post_event" href="/AddEvent">Post Event</a></li>
            {% endif %} {% if user.is_authenticated %}
            <li><a class="n_button" href="Logout">Log Out</a></li>
            {% else %}
            <li><a class="n_button" href="Login">Log in</a></li>
            {% endif %}
        </ul>
    </div>

</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}