<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fest Share</title>
    <!-- Load the CSS file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'festShare/css/styleOnBoarding.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <div class="diagonal-stripe"></div>
    <div class="container">
        <h2>Welcome to Fest Share!</h2>
        <p>Your gateway to celebrating cultural festivals with fellow international students, wherever you are.</p>

        <p>
            Fest Share is all about bringing people together during the moments that matter most. Whether you're missing
            the vibrant festivals from home or looking to experience new traditions, this is the space where connections
            happen.
        </p>
        <ul style="list-style-type: none; padding: 0; font-size: 16px;">
            <li><strong>Create Events:</strong> Share your festival plans with others and bring people together to
                celebrate.</li>
            <li><strong>Join Events:</strong> Explore what’s happening around you, meet new friends, and experience the
                magic of different cultures.</li>
            <li><strong>Celebrate Together:</strong> No matter where you're from, Fest Share helps you find a community
                that celebrates with you.</li>
        </ul>
        <br>
        <br>
        <form action="Login">
            {% csrf_token %}
            <button type="submit" class="btn">Proceed to log in</button>
        </form>

        <div class="link">
            <p>Don't have an account yet? <a href="/SignUp">Create New Account</a></p>
        </div>
    </div>
</body>

</html>