<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Tracker</title>
    <!-- Load the CSS file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'festShare/css/stylefirstpage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <div class="diagonal-stripe"></div>
    <div class="container">
        <h2>We spend little money every day on things we don't want or need; we can save that money,
            and we can save that money and use it for something better.
        </h2>
        <br>
        <br>
        <form action="Login">
            {% csrf_token %}
            <button type="submit" class="btn">Proceed to log in</button>
        </form>

        <div class="link">
            <p>Don't have an account yet? <a href="/SignUp">Create New Account</a></p>
        </div>
    </div>
</body>

</html>