<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="SignUp" method="post">
        {% csrf_token %}
        <div>
            First Name:
            <input type="text" name="firstName" id="firstName">
        </div>
        <div>
            Last Name:
            <input type="text" name="LastName" id="LastName">
        </div>
        <div>
            Email:
            <input type="email" name="email" id="email">
        </div>
        <div>
            Username:
            <input type="text" name="username" id="username">
        </div>

        <div>
            Password:
            <input type="password" name="password1" id="password1">
        </div>
        <div>
            Confirm Password:
            <input type="password" name="password2" id="password2">
        </div>
        <div>
            Preferences:
            <input type="text" name="preferences" id="preferences">
        </div>

        <div class="form-group">
            <input type="submit" value="Sign Up">
        </div>

        <div>
            <p>Already Have an account ?
            </p>
            <a href="/Login">Sign In</a>
        </div>


    </form>
</body>

</html>