<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'festShare/css/styleSignupPage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>

<body>
    <div class="diagonal-stripe"></div>
    <div class="signup-container">
        <h2>Sign Up</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action="/SignUp" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" required placeholder="John">
            </div>
            <div class="form-group">
                <label for="LastName">Last Name:</label>
                <input type="text" name="LastName" id="LastName" requiredn placeholder="Doo">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required placeholder="Test@email.com">
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                <input type="password" name="password1" id="password1" required placeholder="Create youy password">
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" name="password2" id="password2" required placeholder="Confirm your password">
            </div>
            <div class="form-group">
                <label for="preferences">Preferences:</label>
                <input type="text" name="preferences" id="preferences" placeholder="What kind of culture you are into?">
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up">
            </div>
            <div class="form-group">
                <p>Already have an account?</p>
                <a href="/Login">Sign In</a>
            </div>
        </form>
    </div>
</body>

</html>